<div class="all mt-5">
  <div class="p d-flex justify-content-center m-auto">
    <h2 *ngIf="lang=='en'">Our Clients</h2>
    <h2 *ngIf="lang=='ar'">عملاؤنا</h2>
  </div>
</div>


<div class="all mt-5">
  <div class="p d-flex justify-content-center m-auto">
    <p *ngIf="lang=='en'">L00orem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quam libero molestiae non minima commodi
      soluta distinctio ad explicabo ipsum.</p>

      <p *ngIf="lang=='ar'">تفاصيل العملاء</p>

  </div>
</div>




<div class="Images container ">

  <div class="papaImg d-flex justify-content-center alig">
    <img src="../../../assets/Images/Logoos.png" class="w-100" alt="">
  </div>

  <!-- <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-01.webp "  class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-02.webp" class="w-100"  alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-03.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-04.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-05.webp"  class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-06.webp" class="w-100" alt="">
        </div>



    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-07.webp " class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-08.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-09.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-10.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-11.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-12.webp" class="w-100" alt="">
        </div>



    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-13.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-14.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-15.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-16.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-17.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-18.webp"  class="w-100" alt="">
        </div>



    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-19.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-20.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-21.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-22.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-23.webp" class="w-100" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/Images/LOGOS/ALL LOGS-24.webp" class="w-100" alt="">
        </div>



    </div> -->


</div>
