<div class="papa image-drop ">
    <app-slidder ></app-slidder>

<div appScrollIntoView>
    <div class="b">
        <app-brief-about-us></app-brief-about-us>
    </div>
</div>


<div appScrollIntoView>
    <app-projects-counter></app-projects-counter>
</div>

<!-- <div class="spacer" style="height: 800px;"></div> -->

<div appScrollIntoView>
    <app-complex-slidder></app-complex-slidder>
</div>

<!-- <div class="spacer" style="height: 800px;"></div> -->


<div appScrollIntoView>
    <app-clients></app-clients>
</div>


<div appScrollIntoView>
    <app-news  ></app-news>
</div>


<div appScrollIntoView>
    <app-career></app-career>
</div>

</div>
