<div class="papa ">
  <div class="container m-auto row  parent">
    <div class="col-md-3 one  c">
      <div class="row info">
        <div class="col-md-6">
          <div class="font"></div>
        </div>

        <div class="col-md-6 ">

          <div class="d-flex justify-content-center align-items-center description">
            <span class="plus">+ &nbsp; </span>
            <div id="counter" class="counter">{{ counterValue1 }}</div>
          </div>

          <div class="p mt-4">
            <p>Branchs</p>
          </div>
        </div>


      </div>
    </div>

    <div class="col-md-3 two  c">
      <div class="row info">
        <div class="col-md-6">
          <div class="font"></div>
        </div>
        <div class="col-md-6 ">

          <div class="d-flex justify-content-center align-items-center">
            <span class="plus">+ </span>
            <div id="counter" class="counter">{{ counterValue2 }}</div>
          </div>

          <div class="p mt-4">
            <p>Employees</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 three  c">
      <div class="row info">
        <div class="col-md-6">
          <div class="font"></div>
        </div>
        <div class="col-md-6 ">

          <div class="d-flex justify-content-center align-items-center">
            <span class="plus">+ </span>
            <div id="counter" class="counter">{{ counterValue3 }}</div>
          </div>

          <div class="p mt-4">
            <p>Scanned Roads</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 four c">
      <div class="row info">
        <div class="col-md-6">
          <div class="font"></div>
        </div>
        <div class="col-md-6 ">

          <div class="d-flex justify-content-center align-items-center">
            <span class="plus">+ </span>
            <div id="counter" class="counter">{{ counterValue4 }}</div>
          </div>

          <div class="p mt-4">
            <p>Projects</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
