<div class="c m-auto ms-5">


  <div class="upper-footer">
    <h2 *ngIf="lang=='en'">Your Career at Namaa</h2>
    <h2 dir="rtl" class="text-cenetr  p-5" *ngIf="lang=='ar'">تخصصك في نماء</h2>
    <div class="parent d-flex">

      <p *ngIf="lang=='en'">

        Join our team at Namaa Consult and be part of an innovative and dynamic environment where your skills and
        talents can make a real impact...
      </p>



      <p class="text-end" *ngIf="lang=='ar'">
        انضم
      </p>


      <div class="p me-5  d-flex justify-content-end w-100 m-auto">
        <button (click)="GoToCareer()" *ngIf="lang=='en'">
          Apply Now
        </button>

        <button dir="rtl" (click)="GoToCareer()" *ngIf="lang=='ar'">
          قدم الان
        </button>
      </div>
    </div>

  </div>


</div>