<div class="page">

  <div class="page-header">
    <h2>About Us</h2>

    <div class="img-cover">
      <img src="../../../assets/Images/place-holder-4.png" alt="picture">
    </div>
  </div>

  <div class="page-body">

    <div class="row">

      <div class="counter d-flex align-items-center col-md-3">
        <div class="container">
          <p id="counter" class="counter">{{counterValue1}}</p>
          <p>Branches</p>
        </div>
      </div>
      <div class="counter d-flex align-items-center col-md-3">
        <div class="container">
          <p id="counter" class="counter">{{counterValue2}}</p>
          <p>Employees</p>
        </div>
      </div>
      <div class="counter d-flex align-items-center col-md-3">
        <div class="container">
          <p id="counter" class="counter">{{counterValue3}}</p>
          <p>Scanned Roads</p>
        </div>
      </div>
      <div class="counter d-flex align-items-center col-md-3">
        <div class="container">
          <p id="counter" class="counter">{{counterValue4}}</p>
          <p>Projects</p>
        </div>
      </div>

    </div>

    <div class="about-namaa">
      <h3>About Namaa</h3>
      <p>
        Founded in 1998, Namaa Company for Engineering Consultations was established with a vision to contribute
        significantly to the urbanization and construction development of Egypt and the Arab world.
        Under the esteemed leadership of Dr. Essam Sharaf, who has been our Chairman since inception, Namaa has grown to
        become a trusted name in engineering and consulting.

        With a professional task force of over 400 experts and several offices across Egypt and Saudi Arabia, we have
        adopted a methodology of sustainable management to deliver superior and timely services.

        Our commitment to excellence is reflected in our optimal application of consulting services, addressing the most
        pressing needs in the market.
      </p>
    </div>
    <div class="our-values">
      <h3>Our Values</h3>
      <p>
        We put the well-being and fulfillment of our team members and the success of our clients at the utmost priority.
      </p>
    </div>
    <div class="row iso justify-content-center d-flex">
      <div class="iso-logo d-flex justify-content-center">

        <a href="https://kharetatalenmaa.sa/Certificates/iso14001.pdf" target="_blank">
          <img src="../../../assets/Images/iso14.png" alt="iso14">
        </a>

        <a href="https://kharetatalenmaa.sa/Certificates/iso9001.pdf" target="_blank">
          <img src="../../../assets/Images/iso90.png" alt="iso90">
        </a>

        <a href="https://kharetatalenmaa.sa/Certificates/cer1.pdf" target="_blank">
          <img src="../../../assets/Images/iso45.png" alt="iso45">
        </a>
      </div>

    </div>
  </div>

</div>