<div class="papa ">
  <div id="carouselExampleControls" class="carousel slide   " data-bs-ride="carousel">



    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <div class="conone  ">

      

          <img src="../../../assets/Images/2.jpg" class="d-block w-100 imgg position-relative fit" alt="...">

          <h5 class="fc-white position-absolute start-50 bottom-50 translate-middle ">
            <div class=" mt-5  ">

            </div>
          </h5>

        </div>
      </div>
      <div class="carousel-item">
        <div class="conone">

          <img src="../../../assets/Images/road-cover.png" class="d-block w-100 imgg position-relative fit" alt="...">

          <h2 class="fc-white position-absolute start-50 bottom-50 translate-middle text-info">
          </h2>
        </div>
      </div>
      <div class="carousel-item" >
        <div class="conone">

          <img src="../../../assets/Images/R.jfif"  class="d-block w-100  position-relative fit  imgg" alt="...">

          <h2 class="fc-white position-absolute start-50 bottom-50 translate-middle "></h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


