.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 48;
  font-style: normal;
}

.page {
  padding: 5% 8%;
 // height: 100vh;
}

  h2 {
    color: #0A3465;
    text-align: left;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;

  }

.description p {
  display: flex;
 
  text-wrap: wrap;
  overflow-wrap: break-word;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}



.list {
  margin: auto;
  width: 90%;

}

ul {
  list-style: none;
}

.list .TitleList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list button {
  background-color: transparent;
  border: 1.5px solid #ECF0F4;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #17395E;
  font-family: "Titillium Web";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
}

.list button img {
  width: 1rem;
  height: 1rem;
}

.list ul div li button {
  width: 100%;
  text-align: left;
  color: #375C91;
  color: #333;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

li button a {
  padding-left: 10px;
  color: #375C91;
  font-family: "Titillium Web";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.list-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.list-content-visible {
  max-height: 500px;
  opacity: 1;
}

.list-content-hidden {
  max-height: 0;
  opacity: 0;
}



.d {
  display: none;
}


.t{
  text-align: justify;      /* Justify text for even spacing */
  margin: 0 auto;          /* Centers the block itself */
  line-height: 1.5;   
}